// 
// Skills
// 

#skills {
  .icon-container {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      display: flex;
    }

    i {
      font-size: 92px;

      &.devicon-github-plain-wordmark {
        font-size: 88px;
      }
      &.devicon-sass-original {
        font-size: 95px;
      }
    }
    
  }
}
