{{ partial "header.html" . }}

<header class="masthead" id="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-9 align-self-end">
        <h1 class="text-white font-weight-bold">Hello World!</h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-9 align-self-baseline">
        <p class="text-white-75 mb-5">
          My name is <strong>Matthew Liu</strong> and welcome!
        </p>
        <a class="btn btn-primary btn-xl" href="/#about">About Me</a>
        <a class="btn btn-primary btn-xl" href="/blog">What I'm thinking about?</a>
      </div>
    </div>
  </div>
</header>

<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="about-header d-flex justify-content-between pb-4">
          <div class="about-header-title d-flex flex-column text-start">
            <strong class="fs-2">Matthew Liu</strong>
          </div>
          <div class="about-header-links d-flex flex-column text-end">
              <a class="text-dark" href="mailto:mattkliu@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>/mattkliu@gmail.com
              <a>
              <a class="text-dark" href="https://github.com/matty-liu">
                <i class="fa-brands fa-github" aria-hidden="true"></i>/matty-liu
              </a>
              <a class="text-dark" href="https://www.linkedin.com/in/matthew-liuu">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i> /matthew-liuu
              </a>
                
              <a class="text-dark" href="resources/resumes/Matthew%20Liu%20-%20R%C3%A9sum%C3%A9(2022%20slim%20styled)%20-%20Boston%20-%20Software%20Developer.pdf">
                <i class="fa-solid fa-file-pdf" aria-hidden="true"></i> /resume
              </a>
          </div>
        </div>
        <div class="about-profile-picture pb-4">
          <img class="about-profile-picture-image img-fluid" src="assets/Matthew_Liu.jpg" alt="">
        </div>
      </div>

      <div class="col-lg-8 text-center text-white">
        <h2 class="section-heading">About Me</h2>
        <hr class="divider divider-light" />
        <span class="text-faded mb-4">
          I'm an educator and an engineer who enjoys learning, teaching, design, and problem solving.
          Hobbies include building/fixing/improving things, sports (basketball, and tennis primarily), and cooking.
          <br><br>
          Professionally, I currently work as a software engineer but have worked as a chemistry teacher, tennis instructor, and chemist.
          <br><br>
        </span>
        <a class="btn btn-light btn-xl" href="#portfolio">See my Portfolio</a>
      </div>
    </div>
  </div>
</section>

<section class="page-section px-sm-2" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <hr class="divider" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a class="portfolio-box" href="/">
            <img class="img-fluid" src="assets/portfolio/thumbnails/personal-site.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Personal Page
                </div>
                <div class="project-name">
                  mattyliu.github.io
                </div>
                <div class="project-category text-faded">
                  HTML, SCSS, Bootstrap
                </div>
              </div>
            </div>
          </a>
          <div class="portfolio-subject d-flex flex-column text-center">
            <i class="fa-4x fa-solid fa-user text-primary my-3"></i>
            <h3 class="mb-3">mattyliu.github.io&nbsp;<small class="text-muted">(2022)</small></h3>
            <p class="text-muted mb-0">Fork of a start bootstrap template populated with my personal content. Also used as a sandbox for testing new libraries (Bootstrap 5, Vite)</p>
            <br>

            <div class="btn-portfolio-container">
              <a class="btn btn-primary btn-xl" href="/">Live Link</a>
              <a class="btn btn-primary btn-xl" href="https://github.com/matty-liu/matty-liu.github.io">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a class="portfolio-box" href="https://matty-liu.github.io/ptmm">
            <img class="img-fluid" src="assets/portfolio/thumbnails/populartimes2.0.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Data Visualization
                </div>
                <div class="project-name">
                  The Populartimes Manhattan
                </div>
                <div class="project-category text-faded">
                  JavaScript, Google Maps API, Google Places API
                </div>
              </div>
            </div>
          </a>
          <div class="portfolio-subject d-flex flex-column text-center">
            <i class="fa fa-4x fa-map text-primary my-3"></i>
            <h3 class="mb-3">Populartimes&nbsp;<small class="text-muted">(2018)</small></h3>
            <p class="text-muted mb-0">Visualize when places get busy with Google Maps using real data from Google Places, written with JavaScript, HTML5, and CSS.<br>
            </p> <br>
            <div class="btn-portfolio-container">
              <a class="btn btn-primary btn-xl" href="https://matty-liu.github.io/ptmm">Live Link</a>
              <a class="btn btn-primary btn-xl" href="https://github.com/matty-liu/ptmm">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a class="portfolio-box" href="http://pet1ov3.herokuapp.com/#/home">
            <img class="img-fluid" src="assets/portfolio/thumbnails/petLove.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  webApp
                </div>
                <div class="project-name">
                  petLove
                </div>
                <div class="project-category text-faded">
                  Rails, React, Redux, PostgreSQL
                </div>
              </div>
            </div>
          </a>
          <div class="portfolio-subject d-flex flex-column text-center">
            <i class="fa fa-4x fa-heart text-primary my-3"></i>
            <h3 class="mb-3">petLove&nbsp;<small class="text-muted">(2017)</small></h3>
            <p class="text-muted mb-0">Setup playdates for your pets, inspired by OKCupid! Built on React/Redux frontend, with a RESTful JSON API backend.</p>
            <br>

            <div class="btn-portfolio-container">
              <a class="btn btn-primary btn-xl" href="http://pet1ov3.herokuapp.com/#/home">Live Link</a>
              <a class="btn btn-primary btn-xl" href="https://github.com/matty-liu/petlove">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a class="portfolio-box" href="https://github.com/matty-liu/DOMination">
            <img class="img-fluid" src="assets/portfolio/thumbnails/domination.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  JavaScript Library
                </div>
                <div class="project-name">
                  DOMination
                </div>
              </div>
            </div>
          </a>
          <div class="portfolio-subject d-flex flex-column text-center">
            <i class="fa fa-4x fa-code text-primary my-3"></i>
            <h3 class="mb-3">DOMination&nbsp;<small class="text-muted">(2017)</small></h3>
            <p class="text-muted mb-0">Manipulate the DOM at your will! JavaScript library inspired by jQuery to help learn DOM manipulation.</p> <br>
            <div class="btn-portfolio-container">
              <a class="btn btn-primary btn-xl" href="https://github.com/matty-liu/DOMination">Github Repo</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="page-section bg-dark text-white" id="skills">
  <div class="container text-center">
    <section class="sub-section mb-4">
      <div class="sub-section-header">
        <h2 class="mb-4">Favorite Tooling</h2>
      </div>
      <hr class="divider divider-light" />
      <div class="sub-section-content d-flex justify-content-center flex-wrap">
        <div class="icon-container">
          <img src="assets/logos/logo-python.svg" alt="Python logo">
        </div>
        <div class="icon-container">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-vue.svg" alt="Vue.js logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-webpack.svg" alt="Webpack logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-node.svg" alt="Node logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-npm.svg" alt="NPM logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-yarn.svg" alt="Yarn logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-vscode.svg" alt="Visual Studio Code logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-jest.svg" alt="Jest logo">
        </div>
        <div class="icon-container">
          <i class="devicon-html5-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-css3-plain-wordmark colored"></i>
        </div>
        <div class="icon-container p-1">
          <img src="assets/logos/logo-bootstrap.svg" alt="Bootstrap logo">
        </div>
        <div class="icon-container">
          <i class="devicon-sass-original colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-unix-original colored"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-linux.svg" alt="Linux logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-git.svg" alt="Git logo">
        </div>
        <div class="icon-container">
          <i class="devicon-github-original-wordmark"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-gitlab.svg" alt="Gitlab logo">
        </div>
        <div class="icon-container">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-docker.svg" alt="Docker logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-jenkins.svg" alt="Jenkins logo">
        </div>
      </div>
    </section>
    <section class="sub-section mb-2">
      <div class="sub-section-header">
        <h2 class="mb-4">Past Tooling</h2>
      </div>
      <hr class="divider divider-light" />
      <div class="sub-section-content d-flex justify-content-center flex-wrap">
        <div class="icon-container">
          <i class="devicon-ruby-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-rails-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-django-plain-wordmark"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-flask.svg" alt="flask logo">
        </div>
        <div class="icon-container">
          <i class="devicon-express-original-wordmark"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-java.svg" alt="Java logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-spring.svg" alt="Spring logo">
        </div>
        <div class="icon-container">
          <i class="devicon-knockout-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-jquery-plain-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-react-original-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <i class="devicon-atom-original-wordmark colored"></i>
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-mysql.svg" alt="MySQL logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-postgres.svg" alt="Postgres logo">
        </div>
        <div class="icon-container">
          <img src="assets/logos/logo-tomcat.svg" alt="Tomcat logo">
        </div>
        <div class="icon-container">
          <i class="devicon-heroku-plain-wordmark colored"></i>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="page-section" id="accomplishments">
  <div class="container text-center mt-4">
    <h2 class="mb-4">Accomplishments</h2>
    <hr class="divider divider-light" />
  </div>
  <div class="container accomplishments-panel d-flex justify-content-center">
    <div class="d-flex align-items-start">
      <div class="nav accomplishments-tabs flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-theme-tab" data-bs-toggle="pill" data-bs-target="#v-pills-theme" type="button" role="tab" aria-controls="v-pills-theme" aria-selected="false">
          New Product Design, Development, Distribution
        </button>
        <button class="nav-link" id="v-pills-ada-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ada" type="button" role="tab" aria-controls="v-pills-ada" aria-selected="true">
          Upgrade Legacy System's UI/UX
        </button>
        <button class="nav-link" id="v-pills-cloud-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cloud" type="button" role="tab" aria-controls="v-pills-cloud" aria-selected="false">
          Infrastructure Migration to Docker / AWS
        </button>
        <button class="nav-link" id="v-pills-fetool-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fetool" type="button" role="tab" aria-controls="v-pills-fetool" aria-selected="false">
          Modernize Frontend Developer Tooling
        </button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-theme" role="tabpanel" aria-labelledby="v-pills-theme-tab">
          Helped create the Interconnection Life Cycle Management (ILCM) product with a feature suite to address the interconnection lifecycle demands by the general public and utilities.
          <br><br>
          Product provides an easier and cheaper way for utilities to manage the large influx of interconnection applications as well as adapt to the rapidly changing regulatory requirements public utilities' face. Product was built to be ADA compliant (accessibility - a11y), localization (l10n) and internationalization (i18n) ready, easily rebrandable, and improved end user experience (responsive web pages, modern interface, improved ux flows).
          <br><br>
          ILCM sped up the interconnection process from 3 months to 2 weeks and improved utility operational efficiency. Product continues to be developed, and expanding its integration with popular utility vendors (SAP, DocuSign, PayPal).
        </div>
        <div class="tab-pane fade" id="v-pills-ada" role="tabpanel" aria-labelledby="v-pills-ada-tab">
          Overhauled a legacy system's ui/ux to meet modern standards in visual design and user experience. Effort factored in good web standard practices (a11y, responsiveness) which were also legal requirements for our clients.
          <br><br>
          Level A ADA compliance (a11y)
          <br>
          Work included but not limited to:
          <ul>
            <li>
              Rewrite and refactor of frontend code (cleanup / salvaging process)
            </li>
            <li>
              Generating semantically correct markup
            </li>
            <li>
              Screen reader support (i.e. ARIA labels, img alt, element role, etc...)
            </li>
            <li>
              Visual style updates for users with poor vision
              (sufficient color contrast, text sizing, etc...).
            </li>
          </ul>
          To complement this effort, provided documentation, automated testing, and integration with an ADA testing vendor to catch any regression.
          <br><br>
          Responsive Page Design
          <br>
          Updated a web application's frontend pages to work on devices of varying screen sizes.
          <!-- Localization (i10n) & Internationalization (i18n)
          <br><br>
          Devised a plan for updating a web application for l10n and i18n support.
          Requirements primarily focused on support for Spanish but implementation supported other latin based languages and some asian based langauges.
          String translation services were handled with use of a vendor for displaying translated content.
          User inputted data required database updates for internationalized supported character sets (UTF-8 v. latin).
          Right to left (RTL) and left to right (LTR) styling updates.
          <br><br> -->
        </div>
        <div class="tab-pane fade" id="v-pills-cloud" role="tabpanel" aria-labelledby="v-pills-cloud-tab">
          Supported migration of a software stack from a traditional single server setup (webapp, database, etc...) to a cloud based containerized setup.
          The architechure was decomposed into their cloud equvilent part within AWS (EC2, RDS, ECS, ECR, Lambda, S3, EFS, ...)
          <br><br>
          Migration into the cloud reduced infrastructure costs, eased scalability, and simplified software deployments to be more reliable and predictable.
        </div>
        <div class="tab-pane fade" id="v-pills-fetool" role="tabpanel" aria-labelledby="v-pills-fetool-tab">
          Helped transform a legacy frontend code base (.jsp / tiles.xml / Knockout / jQuery) to follow modern frontend standards and utilize modern frontend tooling (Webpack, babel, Vue.js, Yarn).
          Utilized modern bundlers/transpilers to support modern javascript, enable cross browser compatability, improved frontend developer experience by introducing the use of a frontend development server with hot module replacement, added unit testing framework with Jest, provided an internal component library with documentation of how to utilize the core styles.
          <br><br>
          Work vastly improved the developer experience and made the frontend code more approachable for non frontend developers and new engineers and created an improved and consistent user expereience and user interface.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-primary" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="divider" />
        <p class="mb-5">Interested in getting in touch? Call or send me an email and I will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-4 ml-auto mb-4 text-center">
        <i class="fa fa-phone fa-3x mb-3"></i>
        <p>857-939-1287</p>
      </div>
      <div class="col-md-4 ml-auto mb-4 text-center">
        <i class="fa-solid fa-file-pdf fa-3x mb-3"></i>
        <p><a href="resources/resumes/Matthew%20Liu%20-%20R%C3%A9sum%C3%A9(2022%20slim%20styled)%20-%20Boston%20-%20Software%20Developer.pdf">/resume</a></p>
      </div>
      <div class="col-md-4 mr-auto mb-4 text-center">
        <i class="fa-solid fa-envelope fa-3x mb-3"></i>
        <p>
          <a href="mailto:mattkliu@gmail.com">mattkliu@gmail.com</a>
        </p>
      </div>
      <div class="col-md-4 ml-auto mb-4 text-center">
        <i class="fa-brands fa-linkedin fa-3x mb-3"></i>
        <p>
          <a href="http://www.linkedin.com/in/matthew-liuu">/matthew-liuu</a>
        </p>
      </div>
      <div class="col-md-4 mr-auto mb-4 text-center">
        <i class="fa-brands fa-github fa-3x mb-3"></i>
        <p>
          <a href="https://github.com/matty-liu">/matty-liu</a>
        </p>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}